<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771217977287-fckhgtjrsmqhnup8ssj4b3aekf60gkck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771217977287-fckhgtjrsmqhnup8ssj4b3aekf60gkck</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>771217977287-joflaeck92u68tv4g0helo71aolm9i8a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXaHRdRlOXA3pR4-w6gAYDTFw51xxkDIE</string>
	<key>GCM_SENDER_ID</key>
	<string>771217977287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lovekiri-client</string>
	<key>PROJECT_ID</key>
	<string>lovekiri</string>
	<key>STORAGE_BUCKET</key>
	<string>lovekiri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771217977287:ios:99572611b5179c1dc1f3e2</string>
</dict>
</plist>